
//! PAGINA PRINCIPAL
.home--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
}

//! NAVBAR

.navbar--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: lightblue;
    .searchbar{
        height: 1.5rem;
        width: 30rem;
        margin-right: 1.5rem;
        border-radius: .2rem;
    }
    .searchbar__btn{
        height: 1.7rem;
        margin-right: 2rem;
        border: 1px solid black;
        border-radius: .2rem;
        padding: .2rem;
    }
    .filters__container{
        display: flex;
        justify-items: start;
    }
    .orders__container{
        height: 1rem;
        width: 15rem;
        margin-right: 1.5rem;
        border-radius: .2rem;
        .orders__box{
            height: 1.5rem;
        }
    }
    .genres__container{
        height: 1rem;
        width: 15rem;
        margin-right: 1.5rem;
        border-radius: .2rem;
        .genres__box{
            height: 1.5rem;
        }
    }

}

//! GAMES CONTAINERS

.games--container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: auto;
    margin-top: 2rem;
    justify-content: space-around;
}


.game--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    .gamecontent__img{
        width: 500px;
        height:300px;
    }
    .game--content__title{
        text-decoration: none;
        color: black;
    }
    span{
        color: black;
        font: bold;
        font-size: large;
    }
}

//!GAMES DETAILS CONTAINERS

.games__container--details{
    display: flex;
    justify-content: center;
}




.game__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .game__details--img{
        width: 800px;
        height:600px;
    }
    .game__details--title{
        text-align: center;
    }
    .details__container--game{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem;
    }
}

