@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
//! PAGINA PRINCIPAL
.home--container{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr auto;
    width: 100vw;
    height: 100vh;
    //! NAVBAR
    .navbar--container{
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: start;
        max-width: 300px;
        height: auto;
        background-color: black;
        .title-page{
            color: #A1FC2E;
            text-align: center;
            font-family: 'MuseoModerno', cursive;
            font-size: 2rem;
        }
        //! FILTERS
        .filters--container{
            margin-top: 5rem;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            .filterByGenres{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: 50px;
                button{
                    background-color: black;
                    color: white;
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: max-content;
                }
                button:focus{color: #A1FC2E;}
                .filterTitle{
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    margin-bottom: 20px;
                    margin-top: 140px;
                    width: 70%;
                    border-bottom: 2px solid #A1FC2E;
                    font-size: 18px;
                }
            }
            .filterByOrigin{
                display: flex;
                flex-direction: column;
                width: 70%;
                margin-right: 10px;
                margin-top: 128px;
                button{
                    background-color: black;
                    color: white;
                    font-size: 16px;
                    font-family: 'Poppins', sans-serif;
                    text-align: left;
                    width: max-content;
                }
                button:focus{color: #A1FC2E;}
                .filterTitle{
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    width: 100%;
                    border-bottom: 2px solid #A1FC2E;
                }
            }
        }
        
    }
    .container{
        grid-column: 2/2;
        background-color: black;
        width: 100%;
        //! SEARCHBAR
        .searchBar--container{
            height: 3rem;
            width: 100%;
            margin-right: 2rem;
            background-color: black;
            display: flex;
            justify-content: end;
            align-items: center;
            .searchbar--inpt{
                width: 25rem;
                height: 1.7rem;
                border-radius: .4rem;
                border: none;
                margin-right: 1rem;
            }
            .searchbar__btn{
                margin-right: 8rem;
                border-radius: .5rem;
                height: 2rem;
                width: 5rem;
                background-color: #A1FC2E;
                color: black;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 16px;
            }
            .newGame--btn{
                background-color: black;
                border: none;
                color: white;
                margin-right: 1rem;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
            }
        }
        //! LOADER
        .loader-content{
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            .loader-title{
                background-color: black;
                width: 100%;
                color: #A1FC2E;
                text-align: center;
                font-size: 48px;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 30%;
        }
        
        }
        .games--container{
            display: flex;
            flex-direction: column;
            width: 100%;
            //! ORDERS
            .orders--container{
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 2rem;
                .orders--name__container{
                    margin-right: 2.8rem;
                    span{
                        color: white;
                        font-family: 'Poppins', sans-serif;
                        font-size: 16px;
                    }
                    button{
                        margin-left: 1rem;
                        background-color: #1F1F1F;
                        width: 5rem;
                        color: #A1FC2E;
                        font-weight: bold;
                        font-family: 'Poppins', sans-serif;
                        font-size: 12px;
                        }
                    }
                .orders--rating__container{
                        span{
                            color: white;
                            font-family: 'Poppins', sans-serif;
                            font-size: 16px;
                        }
                        button{
                            margin-left: 1rem;
                            background-color: #1F1F1F;
                            width: 6rem;
                            color: #A1FC2E;
                            font-weight: bold;
                            font-family: 'Poppins', sans-serif;
                            font-size: 12px;
                        }
                }
            }
            
            .gameCard--container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .alert--msg{
                    color: #A1FC2E;
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 32px;
                    font-family: 'Poppins', sans-serif;
                    margin-top: 5%;
                }
                //! CARD GAMES
                .game--content{
                    height: 400px;
                    width: 350px;
                    border: 1px solid black;
                    border-radius: .5rem;
                    margin-top: 2rem;
                    margin-right: 1rem;
                    background-color: #1F1F1F;
                    display: flex;
                    flex-direction: column;
                    transition: transform .2s;
                    .game--content__img{
                        width: 100%;
                        height: 500px;
                    }
                    .game--content__title{
                        color: #C6EF24;
                        text-align: center;
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .game--content__container{
                        display: flex;
                        justify-content: center;
                        margin-top: 1rem;
                        .game--content__text{
                            color: white;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 600;
                            text-align: center;
                            width: 100%;
                    }
                    }
                    
                }
                .game--content:hover{transform: scale(1.1);}
            }
            //! PAGINATION
            .pagination--container{
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                button{
                    width: 2.3rem;
                    height: 2.3rem;
                    margin-right: .5rem;
                    background-color: #1F1F1F;
                    color: #A1FC2E;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: bold;
                    border-radius: .5rem;
                }
                button:focus{background-color: #A1FC2E; color: black;}
            }
            .games--container__subtitle{
                color: white;
                margin-top: 4rem;
                font-family: 'Poppins', sans-serif;
                font-size: 32px;
                font-weight: bold;
                border-bottom: 2px solid #A1FC2E;
                width: 50%;
            }
        }
    }
}

//! GAMES DETAILS
.games__container--details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;
    min-height: 100vh;
    }
    .game__details--title{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-weight: 600;
        color: #A1FC2E;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .game__details--img{
        width: 70%;
    }
    .game__details--description--container{
        width: 70%;
        .game__detailes--description--title{
            font-family: 'Poppins', sans-serif;
            font-size: 28px;
            color: #A1FC2E;
            font-weight: 600;
            width: max-content;
        }
        .game__details--description{
            font-family: 'Poppins', sans-serif;
            text-align: justify;
            color: white;
            margin-top: 1.5rem;
            border-bottom: 1px solid #A1FC2E;
        }
    
    }
    .details__container--game{
        width: 70%;
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        .detail__genres--container{
            .detail__genres--title{
                margin-bottom: 2rem;
                color: #A1FC2E;
                font-weight: 600;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                font-family: 'Poppins', sans-serif;
                color: white;
                text-align: justify;
            }
        }
        .detail__platforms--container{
            .detail__platforms--title{
                margin-bottom: 2rem;
                color: #A1FC2E;
                font-weight: 600;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                font-family: 'Poppins', sans-serif;
                color: white;
                text-align: justify;
            }
        }
        .detail__released--container{
            .detail__released--title{
                margin-bottom: 2rem;
                color: #A1FC2E;
                font-weight: 600;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                font-family: 'Poppins', sans-serif;
                color: white;
                text-align: justify;
            }
        }
        .detail__rating--container{
            .detail__rating--title{
                margin-bottom: 2rem;
                color: #A1FC2E;
                font-weight: 600;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
            }
            p{
                font-family: 'Poppins', sans-serif;
                color: white;
                text-align: justify;
            }
        }
    }

//! FORM
.form--newGame__container{
    min-height: 100vh;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form--newGame{
        background-color: black;
        width: 60vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .input__newGame--name{
            .error__msg--form{
                color: red;
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
            }
        }
        .input__newGame--description{
            .error__msg--form{
                color: red;
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
            }
        }
        .input__newGame--rating{
            .error__msg--form{
                color: red;
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
            }
        }
        .input__newGame--released{
            .error__msg--form{
                color: red;
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
            }
        }
        .select__newGame--genres{
            .option__newGame--select{
                color: #A1FC2E;
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
            }
        }
        .select__newGame--platforms{
            .option__newGame--select{
                color: #A1FC2E;
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-size: 16px;
            }
        }
        .form__newGame--title{
            color: #C6EF24;
            font-family: 'Poppins', sans-serif;
            font-size: 24px;
            font-weight: 600;
        }

        & > section{
            margin-top: 3%;
            width: 50%;
            & > input, select{
                width: 100%;
                height: 4vh;
                border-radius: 10px;
            }
        }
        .newGame__btn--create{
            margin-top: 1.5rem;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color: #C6EF24;
            background-color: #1F1F1F;
            padding: 2px;
            border-radius: 5px;
        }
    }
    .form__newGame--btnBack{
        button{
            background-color: black;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            border: 1px solid black;
            border-radius: 10px;
            margin-top: 1.5rem;
            padding: 2px;
        }
    }
}
